body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#8E8E8E, #575151);
    color: #FFF;
    max-width: 1280px;
    margin: 50px auto;
    text-align: center;
}

div {
    border-radius: 12px;
    padding: 25px 20px;
    margin-top: 40px;
    max-width: 1280px;
}

img {
    display: block;
    margin: 15px auto;
    max-width: 100%;
    height: auto;
}

video {
    width: 70%;
    height: auto;
    display: block;
    margin: 15px auto;
    border-radius: 5px;
    background: #000;
}

audio {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}

.trust {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 100%;
}

.trust img {
    width: 300px;
    height: auto;
    object-fit: contain;
}

footer {
    margin: 30px auto 20px;
    color: #eaf4fb;
    border-radius: 12px;
}

footer img {
    max-height: 60px;
    width: auto;
    margin: 0 auto 15px;
}